<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Hero Form</title>
</head>
<body>

  <div class="container mt-5">
   

    <form method="post">
      {% csrf_token %}
      {% for form in forms %}
          <div class="col-md-6">
              <div class="form-group">
                <label>{{ form.question }}</label>
                <label>{{ form.choices  }}</label>
                <label>{{ form.correct_answer }}</label>
                 
                  {% for choice in form.response %}
                      <div class="form-check">
                          {{ choice }}
                      </div>
                  {% endfor %}
              </div>
          </div>
      {% endfor %}
      <div class="col-md-12 text-center">
          <input type="submit" value="Submit" class="btn btn-primary">
      </div>
  </form>
  

    


  </div>

  </body>
  </html>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
