{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>EMSI-EXAMS</title>
 <!-- Favicons -->
 <link href="{% static 'img/favicon.png' %}" rel="icon">
 <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

 <!-- Google Fonts -->
 <link href="https://fonts.gstatic.com' %}" rel="preconnect">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!-- Vendor CSS Files -->
 <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
 <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
 <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
 <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
 <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
 <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">
 <link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <!-- Template Main CSS File -->
 <link href="{% static 'css/style.css' %}" rel="stylesheet">
 <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>

<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
     integrity=
"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
     crossorigin="anonymous">
     
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/codemirror.min.css" />
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

 
     <div class="d-flex align-items-center justify-content-between">
       <a href="{% url 'dashboarde' %}" class="logo d-flex align-items-center">
         <img src="{% static 'img/logo.png' %}" alt="">
         <span class="d-none d-lg-block">EMSI-EXAMS</span>
       </a>
       <i class="bi bi-list toggle-sidebar-btn"></i>
     </div><!-- End Logo -->
 
     <div class="search-bar">
       <form class="search-form d-flex align-items-center" method="POST" action="#">
         <input type="text" name="query" placeholder="Search" title="Enter search keyword">
         <button type="submit" title="Search"><i class="bi bi-search"></i></button>
       </form>
     </div><!-- End Search Bar -->
 
     <nav class="header-nav ms-auto">
       <ul class="d-flex align-items-center">
 
         <li class="nav-item d-block d-lg-none">
           <a class="nav-link nav-icon search-bar-toggle " href="#">
             <i class="bi bi-search"></i>
           </a>
         </li><!-- End Search Icon-->
 
         {% comment %} <li class="nav-item d-block "> 
          <div class="btn-group d-flex align-self-end" role="group">
          <a  href="{% url 'dashboarde' %}" type="button" class="btn btn-primary" id="admin-btn">Admin</a>
          <a  href="{% url 'dashboard_s' %}" type="button" class="btn btn-primary" id="student-btn">Student</a>
          </div>
        </li> {% endcomment %}

         <li class="nav-item dropdown">
 
           <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
             <i class="bi bi-bell"></i>
             <span class="badge bg-primary badge-number">4</span>
           </a><!-- End Notification Icon -->
 
           <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
             <li class="dropdown-header">
               You have 4 new notifications
               <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
             </li>
             <li>
               <hr class="dropdown-divider">
             </li>
 
             <li class="notification-item">
               <i class="bi bi-exclamation-circle text-warning"></i>
               <div>
                 <h4>Lorem Ipsum</h4>
                 <p>Quae dolorem earum veritatis oditseno</p>
                 <p>30 min. ago</p>
               </div>
             </li>
 
             <li>
               <hr class="dropdown-divider">
             </li>
 
             <li class="notification-item">
               <i class="bi bi-x-circle text-danger"></i>
               <div>
                 <h4>Atque rerum nesciunt</h4>
                 <p>Quae dolorem earum veritatis oditseno</p>
                 <p>1 hr. ago</p>
               </div>
             </li>
 
             <li>
               <hr class="dropdown-divider">
             </li>
 
             <li class="notification-item">
               <i class="bi bi-check-circle text-success"></i>
               <div>
                 <h4>Sit rerum fuga</h4>
                 <p>Quae dolorem earum veritatis oditseno</p>
                 <p>2 hrs. ago</p>
               </div>
             </li>
 
             <li>
               <hr class="dropdown-divider">
             </li>
 
             <li class="notification-item">
               <i class="bi bi-info-circle text-primary"></i>
               <div>
                 <h4>Dicta reprehenderit</h4>
                 <p>Quae dolorem earum veritatis oditseno</p>
                 <p>4 hrs. ago</p>
               </div>
             </li>
 
             <li>
               <hr class="dropdown-divider">
             </li>
             <li class="dropdown-footer">
               <a href="#">Show all notifications</a>
             </li>
 
           </ul><!-- End Notification Dropdown Items -->
 
         </li><!-- End Notification Nav -->
 
         <li class="nav-item dropdown">
 
           <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
             <i class="bi bi-chat-left-text"></i>
             <span class="badge bg-success badge-number">3</span>
           </a><!-- End Messages Icon -->
 
           <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
             <li class="dropdown-header">
               You have 3 new messages
               <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
             </li>
             <li>
               <hr class="dropdown-divider">
             </li>
 
             <li class="message-item">
               <a href="#">
                 <img src="{% static 'img/messages-1.jpg' %}" alt="" class="rounded-circle">
                 <div>
                   <h4>Maria Hudson</h4>
                   <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                   <p>4 hrs. ago</p>
                 </div>
               </a>
             </li>
             <li>
               <hr class="dropdown-divider">
             </li>
 
             <li class="message-item">
               <a href="#">
                 <img src="{% static 'img/messages-2.jpg' %}" alt="" class="rounded-circle">
                 <div>
                   <h4>Anna Nelson</h4>
                   <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                   <p>6 hrs. ago</p>
                 </div>
               </a>
             </li>
             <li>
               <hr class="dropdown-divider">
             </li>
 
             <li class="message-item">
               <a href="#">
                 <img src="{% static 'img/messages-3.jpg' %}" alt="" class="rounded-circle">
                 <div>
                   <h4>David Muldon</h4>
                   <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                   <p>8 hrs. ago</p>
                 </div>
               </a>
             </li>
             <li>
               <hr class="dropdown-divider">
             </li>
 
             <li class="dropdown-footer">
               <a href="#">Show all messages</a>
             </li>
 
           </ul><!-- End Messages Dropdown Items -->
 
         </li><!-- End Messages Nav -->
 
         <li class="nav-item dropdown pe-3">
 
           <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
             <img src="{{profile.picture.url}}" alt="Profile" class="rounded-circle">
             <span class="d-none d-md-block dropdown-toggle ps-2">{{profile.first_name}}</span>
           </a><!-- End Profile Iamge Icon -->
 
           <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
             <li class="dropdown-header">
               <h6>{{profile.first_name}} {{profile.last_name}}</h6>
               <span>administrator</span>
             </li>
             <li>
               <hr class="dropdown-divider">
             </li>
 
             <li>
               <a class="dropdown-item d-flex align-items-center" href="{% url 'profile_admin' %}">
                 <i class="bi bi-person"></i>
                 <span>My Profile</span>
               </a>
             </li>
             <li>
               <hr class="dropdown-divider">
             </li>
 
             <li>
               <a class="dropdown-item d-flex align-items-center" href="{% url 'profile_admin' %}">
                 <i class="bi bi-gear"></i>
                 <span>Account Settings</span>
               </a>
             </li>
             <li>
               <hr class="dropdown-divider">
             </li>
 
            
             <li>
               <hr class="dropdown-divider">
             </li>
 
             <li>
               <a class="dropdown-item d-flex align-items-center" href="#">
                 <i class="bi bi-box-arrow-right"></i>
                 <span>Sign Out</span>
               </a>
             </li>
 
           </ul><!-- End Profile Dropdown Items -->
         </li><!-- End Profile Nav -->
 
       </ul>
     </nav><!-- End Icons Navigation -->
 
   </header><!-- End Header -->

   <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'dashboarde' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
        <li class="nav-heading">Pages</li>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link  collapsed" href="{% url 'student' %}">
          <i class="bi bi-grid"></i>
          <span>Student</span>
        </a>
      </li><!-- End Student Nav -->
     <!--  <a class="nav-link " href="{% url 'exam' %}" disabled>
        <i class="bi bi-grid"></i>
        <span>Q.C.M</span>
      </a>
    </li> -->
    <!-- End Student Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Q.C.M</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'exam' %}">
            <i class="bi bi-circle"></i><span>Afficher Q.C.Ms</span>
          </a>
        </li>
        <li>
          <a href="{% url 'gestion_exam' %}">
            <i class="bi bi-circle"></i><span>Gestion Q.C.Ms</span>
          </a>
        </li>
       
      </ul>
    </li><!-- End Forms Nav -->
  
     

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'profile_admin' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Log Out</span>
        </a>
      </li><!-- End Login Page Nav -->
    </ul>
  </aside><!-- End Sidebar-->

   <main id="main" class="main">
{% block content %}



{% endblock content %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>EMSI-EXAMS</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="#">our team</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->

<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

<script>
 
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/codemirror.min.js"></script>

</body>

</html>