{% extends 'admine/pages/base.html' %}

{% block content %} 

<section class="section dashboard">
    <div class="row ">
        
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">la liste des QCM : </p>
        </div>
        <div class="card-header d-flex">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Python</a>
                <a class="dropdown-item" href="#">Django</a>
              </div>
            </div>
          </div>
          
    
          
    </div>

    <!--liste exams-->
      <div class="exam_style">

       
    <div class="container-xl " >
      <div class="table-responsive">
          <div class="table-wrapper">
              <div class="table-title">
                  <div class="row">
                      <div class="col-sm-4">
                          <h2>Order <b>Details</b></h2>
                      </div>
                      <div class="col-sm-8">						
                          <a href="#" class="btn btn-primary"><i class="material-icons">&#xE863;</i> <span>Refresh List</span></a>
                          <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a>
                      </div>
                  </div>
              </div>
              <div class="table-filter">
                  <div class="row">
                      <div class="col-sm-3">
                          <div class="show-entries">
                              <span>Show</span>
                              <select class="form-control">
                                  <option>5</option>
                                  <option>10</option>
                                  <option>15</option>
                                  <option>20</option>
                              </select>
                              <span>entries</span>
                          </div>
                      </div>
                      <div class="col-sm-9">
                          <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                          <div class="filter-group">
                              <label>Name</label>
                              <input type="text" class="form-control">
                          </div>
                          <div class="filter-group">
                              <label>Location</label>
                              <select class="form-control">
                                  <option>All</option>
                                  <option>Berlin</option>
                                  <option>London</option>
                                  <option>Madrid</option>
                                  <option>New York</option>
                                  <option>Paris</option>								
                              </select>
                          </div>
                          <div class="filter-group">
                              <label>Status</label>
                              <select class="form-control">
                                  <option>Any</option>
                                  <option>Delivered</option>
                                  <option>Shipped</option>
                                  <option>Pending</option>
                                  <option>Cancelled</option>
                              </select>
                          </div>
                          <span class="filter-icon"><i class="fa fa-filter"></i></span>
                      </div>
                  </div>
              </div>
              <table class="table table-striped table-hover">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Customer</th>
                          <th>Location</th>
                          <th>Order Date</th>						
                          <th>Status</th>						
                          <th>Net Amount</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1</td>
                          <td><a href="#"><img src="/examples/images/avatar/1.jpg" class="avatar" alt="Avatar"> Michael Holz</a></td>
                          <td>London</td>
                          <td>Jun 15, 2017</td>                        
                          <td><span class="status text-success">&bull;</span> Delivered</td>
                          <td>$254</td>
                          <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a></td>
                      </tr>
                      <tr>
                          <td>2</td>
                          <td><a href="#"><img src="/examples/images/avatar/2.jpg" class="avatar" alt="Avatar"> Paula Wilson</a></td>
                          <td>Madrid</td>                       
                          <td>Jun 21, 2017</td>
                          <td><span class="status text-info">&bull;</span> Shipped</td>
                          <td>$1,260</td>
                          <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a></td>
                      </tr>
                      <tr>
                          <td>3</td>
                          <td><a href="#"><img src="/examples/images/avatar/3.jpg" class="avatar" alt="Avatar"> Antonio Moreno</a></td>
                          <td>Berlin</td>
                          <td>Jul 04, 2017</td>
                          <td><span class="status text-danger">&bull;</span> Cancelled</td>
                          <td>$350</td>
                          <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a></td>                        
                      </tr>
                      <tr>
                          <td>4</td>
                          <td><a href="#"><img src="/examples/images/avatar/4.jpg" class="avatar" alt="Avatar"> Mary Saveley</a></td>
                          <td>New York</td>
                          <td>Jul 16, 2017</td>						
                          <td><span class="status text-warning">&bull;</span> Pending</td>
                          <td>$1,572</td>
                          <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a></td>
                      </tr>
                      <tr>
                          <td>5</td>
                          <td><a href="#"><img src="/examples/images/avatar/5.jpg" class="avatar" alt="Avatar"> Martin Sommer</a></td>
                          <td>Paris</td>
                          <td>Aug 04, 2017</td>
                          <td><span class="status text-success">&bull;</span> Delivered</td>
                          <td>$580</td>
                          <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a></td>
                      </tr>
                  </tbody>
              </table>
              <div class="clearfix">
                  <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                  <ul class="pagination">
                      <li class="page-item disabled"><a href="#">Previous</a></li>
                      <li class="page-item"><a href="#" class="page-link">1</a></li>
                      <li class="page-item"><a href="#" class="page-link">2</a></li>
                      <li class="page-item"><a href="#" class="page-link">3</a></li>
                      <li class="page-item active"><a href="#" class="page-link">4</a></li>
                      <li class="page-item"><a href="#" class="page-link">5</a></li>
                      <li class="page-item"><a href="#" class="page-link">6</a></li>
                      <li class="page-item"><a href="#" class="page-link">7</a></li>
                      <li class="page-item"><a href="#" class="page-link">Next</a></li>
                  </ul>
              </div>
          </div>
      </div>        
  </div>     
</div> 
    </section>

{% endblock content %}